/*--------------------  Headers / Font Section  ---------------------*/

h1 {
	font-family: 'Cabin', serif;
}

h2 {
	font-family: 'Cabin', serif;
}

h3 {
	font-family: 'Cabin', serif;
}
p {
	font-family: 'Old Standard TT', serif;
}

a {
	font-family: 'Cabin', serif;
}

/*--------------------  Home Section  ---------------------*/

#Home {

}

/*--------------------  About Me Section  ---------------------*/

#AboutMe {
   background: #1F1F1F url(../img/portfolio/cruisebackground.jpg) no-repeat center bottom;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 800px;
   width: 100%;
   overflow: hidden;
}

#AboutMe .btn {
  margin-right: 20px;
}

#AboutMe img {
  max-width: 100%;
}

#AboutMe p {
  padding: 50px 0;
}

.profilepic {
   width: 150px;
   height: 150px;
   border-radius: 100%;
}


.transparentsection {
	background:rgba(0,0,0,0.5);
	color: white;
	width: 100%;
	margin: 55% 0 0 0;
	padding: 5%;
}

/*--------------------  Education Section  ---------------------*/

#Education {
	padding: 5% 0;
	background: url(../img/portfolio/greybg.png);
	color: white;
}

.educationpic {
	margin: 0 0 10% 0;
}

/*--------------------  MacBook Picture Section  ---------------------*/

#MacBookSection {
   background: #1F1F1F url(../img/portfolio/fullsailmacbook.jpg) no-repeat center bottom;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   background-attachment: fixed;

   position: relative;
   min-height: 800px;
   width: 100%;
   overflow: hidden;
}

/*--------------------  My Work Section  ---------------------*/

#MyWork {
	padding: 5% 0;

}


/*--------------------  MySkills Section  ---------------------*/

#MySkills {
	padding: 5% 0;
}


/*--------------------  Contact Me Section  ---------------------*/

#ContactMe {
	padding: 5% 0;
	background: url('../img/portfolio/new_year_background.png');

}


/*--------------------  Copyright Section  ---------------------*/

#copyright {
	padding: 5% 0;

}


/*--------------------  Media Queries ---------------------*/

	@media only screen and (max-width : 1445px) {

		.transparentsection {
			margin: 65% 0 0 0;
		}

		ul.nav {
			margin: 0 0 0 25%;
		}

	}

	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {

	.transparentsection {
		margin: 90% 0 0 0;
		padding: 10% 0;
	}

	#education {
		padding: 5%;
	}

	ul.nav {
		margin: 0 0 0 25%;
	}

	}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {

		.transparentsection {
			margin: 100% 0 0 0;
			padding: 10% 0;
		}

		.navbar-brand {
			margin: 7% 0 0 15%;
		}

		.topbar {
			margin: 1% 0 0 0;
		}

	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 767px) {

	.transparentsection {
		margin: 150% 0 0 0;
		padding: 10% 0;
	}

	.navbar-brand {
		margin: 10% 0 0 25%;
	}

	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {

	.educationpic {
		margin: 10% 0 10% 0;
	}

	.myskillimg {
		width: 50%;
		margin: 5% 0 0 0;
	}

	.profilepic {
		margin: 10% 0 0 5%;
	}
	.transparentsection {
		margin: 185% 0 0 0;
		padding: 10% 0;
	}
	#services {
		padding: 10% 0;
	}

	.nav {
		height: 400px;
	}

	.navbar-brand {
		margin: 14% 0 0 15%;
	}

	}

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) {

	}
